# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Log Files
*.log

# Android Studio
*.iml
.idea/
.navigation/
captures/
output.json

# Keystore files
*.jks
*.keystore
